* {
    font-family: 'Play', sans-serif;
}

canvas {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    background: #fafafa;
}

#secondCanvas {
    position: absolute;
    right: -50px;
}

#controls {
    margin-left: 1rem;
}

section {
    margin-bottom: 1rem;
}